Redirect permanent /blog/feed/ http://davidlynch.org/atom.xml
Redirect permanent /toys http://toys.davidlynch.org
Redirect permanent /music http://music.davidlynch.org
Redirect permanent /misc http://random.davidlynch.org
Redirect permanent /pictures http://random.davidlynch.org/pictures
Redirect permanent /id http://openid.davidlynch.org
Redirect permanent /js/maphilight http://davidlynch.org/projects/maphighlight
Redirect permanent /resume.php http://davidlynch.org/resume.html