Redirect permanent /blog/feed/ http://davidlynch.org/atom.xml
Redirect permanent /toys http://toys.davidlynch.org
Redirect permanent /music http://music.davidlynch.org
Redirect permanent /misc http://misc.davidlynch.org
Redirect permanent /id http://openid.davidlynch.org
Redirect permanent /js/maphilight http://davidlynch.org/projects/maphighlight