{% if paginator.total_pages > 1 %}
<nav>
    <h1 class="assistive-text section-heading">Page navigation</h1>
    {% if paginator.next_page %}
    <div class="nav-previous"><a href="{{ paginator.next_page_path }}" rel="prev"><span class="meta-nav">&larr;</span> Older posts</a></div>
    {% endif %}
    {% if paginator.previous_page %}
    <div class="nav-next"><a href="{{ paginator.previous_page_path }}" rel="next">Newer posts <span class="meta-nav">&rarr;</span></a></div>
    {% endif %}
</nav>
{% endif %}