<article class="post type-post hentry">
    <header class="entry-header">
        <h1 class="entry-title"><a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a></h1>
        <div class="entry-meta">
            <span class="sep">Posted on </span><a href="{{ post.url }}"><time class="entry-date" datetime="{{ post.date | html_global_date }}" pubdate>{{ post.date | date: "%B %d, %Y" }}</time></a>
            {% comment %} TODO: multiple authors? {% endcomment %}
            <span class="byline"><span class="sep"> by </span><span class="author vcard"><a class="url fn n" href="/" rel="author">David</a></span></span>
        </div>
    </header>

    <div class="entry-content">
    {% if content %}
        {{ content }}
    {% else %}
        {{ post.content }}
    {% endif %}
    </div>

    <footer class="entry-meta">
        {% if post.tags %}This entry was tagged
            {% for tag in post.tags %}<a href="/blog/tag/{{ tag }}/">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}.
        {% endif %}
        <span class="sep">Bookmark the </span><a href="{{ post.url }}" rel="bookmark">permalink</a>.
        <span class="entry-comments"><a href="{{ post.url }}#disqus_thread">Comments</a>.</span>
    </footer>
</article>