#main h2 {
	border-bottom: 2px solid #28425E;
	margin:0.8em 0;
}
#main .projects li,
#main .jobs li,
#main .knowledge li,
#main .contacts li {
	position: relative;
	list-style: none;
}
#main .projects h4,
#main .jobs h4 {
	margin: 1em 0ex 1em;
}
#main .projects .location {
	position: absolute;
	top: 0;
	right: 0;
	font-size: small;
}
#main .projects p,
#main .jobs p {
	margin: 0 1ex 1ex;
}
#main .jobs span {
	display: block;
	padding-left: 1ex;
}
#main .knowledge li {
	padding-bottom: 1ex;
}
#main .knowledge li li {
	display: inline;
	margin-right: 0.5ex;
}
@media print {
	#site-description,
	#access {
		display:none;
	}
}
