* {
	margin:0;
	padding:0;
}

body {
	font-family:Verdana, Geneva, sans-serif;
}
a, a:link {
	color: #28425e;
	/*font-weight:700;*/
}
a:hover, a:active {
	color:#e15119;
}
h1, h2, h3, h4, h5, h6 {
	font-family: arial, helvetica, sans-serif;
	font-weight:normal;
	color:#28425e;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration:none;
}
p {
	margin:1em 0;
	line-height:1.4;
}

ul, ol {
	padding-left:2em;
}

dl dd {
	padding-left:2em;
	padding-bottom:1ex;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

nav {
	display:block;
	height:2em;
}
.nav-previous {
	float:left;
}
.nav-next {
	float:right;
}

/* Header! */

#page {
	position:relative;
	padding:36px 0 0;
}

#branding {
	text-align:center;
	margin-bottom:2em;
}
#branding h1 {
	font-size:2.7em;
	font-weight:bold;
	margin:1em 0 0;
	text-align: center;
}
#branding h2 {
	color:black;
	font-weight:normal;
}

#access {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background:#ebeef1;
	border-top:6px solid #cbd3db;
	height:30px;
}
#access h1 { display:none; }
#access .menu ul {
	margin:0;
	padding:0.6em 0;
	font-size:0.8em;
	letter-spacing:1px;
	text-transform:uppercase;
	list-style:none;
	text-align:center;
}
#access .menu li {
	display:inline-block;
	margin:0 1ex;
	vertical-align:top;
}
#access .menu li.current_page_item a {
	font-weight:bold;
}
#access .menu li a {
	text-decoration:none;
	font-weight:normal;
}

#access .menu li > ul {
	display:none;
}
#access .menu li:hover > ul {
	display:block;
}

#main {
	margin:0 auto;
	max-width:720px;
	padding:0 20px 20px;
}

/* Entry! */

.post {
	margin:0 0 3em;
}

.entry-meta {
	font-size:0.9em;
}
.entry-header .entry-meta {
	text-indent:2em;
}
.entry-meta a {
	color:#637893;
	text-decoration:none;
}
.entry-header .entry-meta .sep, header .entry-meta .byline {
	display:none;
}

.entry-content {
	margin:0.8em 0;
}
.entry-content li {
	margin-bottom:0.5ex;
}
.entry-content img {
	max-width: 100%;
}
.entry-content div.highlight {
	border-left: #ccc 5px solid;
	padding-left: 2px;
	margin-bottom: 1em;
}

.post footer {
	border-top:1px solid #ebeef1;
	padding-top:2px;
}
.post footer .entry-comments {
	display:block;
}

/* Widgets! */

.widget-area {
	width:45%;
	margin-bottom:1em;
}
#secondary.widget-area {
	float:left;
}
#tertiary.widget-area {
	float:right;
}
.widget-area h1 {
	margin: 1em 0 0;
	color:black;
	border-bottom:2px solid #637B93;
	line-height:133%;
	font-size:1em;
	font-weight:bold;
}
.widget-area ul {
	padding:0;
	list-style:none;
}
.widget-area li {
	background:#ebeef1;
	color:#28425e;
	margin:0.5em 0;
	padding:0.5em;
	font-size:1em;
}

/* A few things from toolbox's CSS that help with in-post alignments */

.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Images */
a img {
	border: none;
}
p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft {
	margin-right: 1em;
}
img.alignright {
	margin-left: 1em;
}
.wp-caption {
	padding: .5em;
	text-align: center;
}
.wp-caption img {
	margin: .25em;
}
.wp-caption .wp-caption-text {
	margin: .5em;
}
.gallery-caption {

}
.wp-smiley {
	margin: 0;
}
