code { background: hsl(0, 0%, 90%); color: hsl(0, 50%, 10%); }
.highlight, .highlight *, code { font-family: Consolas, Monaco,"Lucida Console"; }
div.highlight code { background: transparent; color: inherit; }
div.highlight { background: #181818; color: #F8F8F8; padding: 16px; }
div.highlight .hll { background-color: #ffffcc }
div.highlight .c { color: #5F5A60; font-style: italic } /* Comment */
div.highlight .err { border:#B22518; } /* Error */
div.highlight .k { color: #CDA869 } /* Keyword */
div.highlight .cm { color: #5F5A60; font-style: italic } /* Comment.Multiline */
div.highlight .cp { color: #5F5A60 } /* Comment.Preproc */
div.highlight .c1 { color: #5F5A60; font-style: italic } /* Comment.Single */
div.highlight .cs { color: #5F5A60; font-style: italic } /* Comment.Special */
div.highlight .gd { background: #420E09 } /* Generic.Deleted */
div.highlight .ge { font-style: italic } /* Generic.Emph */
div.highlight .gr { background: #B22518 } /* Generic.Error */
div.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
div.highlight .gi { background: #253B22 } /* Generic.Inserted */
div.highlight .go {  } /* Generic.Output */
div.highlight .gp { font-weight: bold } /* Generic.Prompt */
div.highlight .gs { font-weight: bold } /* Generic.Strong */
div.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
div.highlight .gt {  } /* Generic.Traceback */
div.highlight .kc {  } /* Keyword.Constant */
div.highlight .kd { color: #e9df8f;  } /* Keyword.Declaration */
div.highlight .kn {  } /* Keyword.Namespace */
div.highlight .kp { color: #9B703F } /* Keyword.Pseudo */
div.highlight .kr {  } /* Keyword.Reserved */
div.highlight .kt {  } /* Keyword.Type */
div.highlight .m { } /* Literal.Number */
div.highlight .s {  } /* Literal.String */
div.highlight .na { color: #F9EE98 } /* Name.Attribute */
div.highlight .nb { color: #CDA869 } /* Name.Builtin */
div.highlight .nc { color: #9B859D; font-weight: bold } /* Name.Class */
div.highlight .no { color: #9B859D } /* Name.Constant */
div.highlight .nd { color: #7587A6 } /* Name.Decorator */
div.highlight .ni { color: #CF6A4C; font-weight: bold } /* Name.Entity */
div.highlight .nf { color: #9B703F; font-weight: bold } /* Name.Function */
div.highlight .nn { color: #9B859D; font-weight: bold } /* Name.Namespace */
div.highlight .nt { color: #CDA869; font-weight: bold } /* Name.Tag */
div.highlight .nv { color: #7587A6 } /* Name.Variable */
div.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
div.highlight .w { color: #141414 } /* Text.Whitespace */
div.highlight .mf { color: #CF6A4C } /* Literal.Number.Float */
div.highlight .mh { color: #CF6A4C } /* Literal.Number.Hex */
div.highlight .mi { color: #CF6A4C } /* Literal.Number.Integer */
div.highlight .mo { color: #CF6A4C } /* Literal.Number.Oct */
div.highlight .sb { color: #8F9D6A } /* Literal.String.Backtick */
div.highlight .sc { color: #8F9D6A } /* Literal.String.Char */
div.highlight .sd { color: #8F9D6A; font-style: italic; } /* Literal.String.Doc */
div.highlight .s2 { color: #8F9D6A } /* Literal.String.Double */
div.highlight .se { color: #F9EE98; font-weight: bold; } /* Literal.String.Escape */
div.highlight .sh { color: #8F9D6A } /* Literal.String.Heredoc */
div.highlight .si { color: #DAEFA3; font-weight: bold; } /* Literal.String.Interpol */
div.highlight .sx { color: #8F9D6A } /* Literal.String.Other */
div.highlight .sr { color: #E9C062 } /* Literal.String.Regex */
div.highlight .s1 { color: #8F9D6A } /* Literal.String.Single */
div.highlight .ss { color: #CF6A4C } /* Literal.String.Symbol */
div.highlight .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
div.highlight .vc { color: #7587A6 } /* Name.Variable.Class */
div.highlight .vg { color: #7587A6 } /* Name.Variable.Global */
div.highlight .vi { color: #7587A6 } /* Name.Variable.Instance */
div.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */