<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{% if page.title and page.title != "" %}{{ page.title }} | {% endif %}David Lynch</title>
<link rel="profile" href="http://gmpg.org/xfn/11" />
<link rel="stylesheet" type="text/css" media="all" href="/theme/css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/theme/css/syntax.css" />
{% if page.stylesheets %}{% for css in page.stylesheets %}<link rel="stylesheet" type="text/css" media="all" href="{{ css }}" />{% endfor %}{% endif %}
<link rel="alternate" type="application/atom+xml" href="/atom.xml">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B1R5XPJYWH"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-B1R5XPJYWH');
</script>
</head>
<body class="{{ page.layout }}">
<div id="page">
    <header id="branding" role="banner">
        <hgroup>
            <h1 id="site-title"><a href="/" title="{{ page.sitename }}" rel="home">{% if page.sitename %}{{ page.sitename }}{% else %}{{ site.sitename }}{% endif %}</a></h1>
            <h2 id="site-description">{% if page.post_subtitle %}{{ page.post_subtitle }}{% else if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.subtitle }}{% endif %}</h2> 
        </hgroup>
        <nav id="access" role="navigation">
            <h1 class="assistive-text section-heading">Main menu</h1>
            <div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>
            <div class="menu"><ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/apps">Apps</a></li>
            </ul></div>
        </nav>
    </header><!-- branding -->
    <div id="main">
        {{ content }}
    </div><!-- main -->
</div>
</body>
